body{
   
    

    color: ghostwhite;
}
.homepage{
    background-image: url("./Asset/5172658.jpg");
    background-size: cover;
}
.workpage{
    background-image: url("./Asset/5291450.jpg");
    background-size: cover;
    
}
.aboutmepage{
    width: 100vw;
    height: auto;

    background-image: url("./Asset/vintage-grunge-blue-marble-background.jpg");
    background-size: cover; 
}

.head{
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgba(0,0,0,0.3);
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.7);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}
.works{
    padding-left: 5%;
    padding-right: 5%;
}
.head p{
    cursor: pointer;
    margin-right: auto;
    font-size: 30px;
    font-family: "Sofia", sans-serif;
    text-shadow: 3px 3px 3px gray;
    font-style: oblique;
}
.head div{
    margin-left: 30px ;
}
.head div:hover{
    border-bottom: 2px solid lightblue;
    cursor: pointer;
}
.profile {
    display: flex;
    justify-content: center;
}
.profile img{
    margin-top:2%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px 3px lightblue ;
}
.name , .prof{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: "Sofia", sans-serif;
    text-shadow: 3px 3px 3px black;
    font-style: oblique;
}

.name > h2{
    margin-top: 10px;
}
.prof h2{
    margin: 0;
}
button{
    width: 100%;
    height: 8vh;
    background-color: transparent;
    color: ghostwhite;
    font-size: 25px;

    cursor:pointer;
    border: 2px solid white;
}
button:hover{
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
}
.skill{
    display: flex;
}
.skill img{
    margin: 10px;
    border: 1px solid lightcoral;
}

.skill img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.desc{
    margin:0;
    display: none;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}
.icons:hover .desc{
    display: block;
}
.aboutme p{
    font-size: 20px;
    text-align: center;
    font-family: "Sofia", sans-serif;
    text-shadow: 2px 2px 2px gray;
    font-style: oblique;
}
.aboutme h2 , .skills h2 , .connect h2{
    color: lightblue;
    font-size: 30px;
    font-family: "Sofia", sans-serif;
    text-shadow: 2px 2px 2px gray;
    font-style: oblique;

}
.col{
    color: violet;
    text-shadow: 2px 2px 2px black ;
}
.works-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: auto;
}.thumb{
    margin: 20px;
    position: relative;
}
a{
    color: ghostwhite;
}
.thumb img{
    width: 25vw;
    border-radius: 20px;
    
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.7);
    cursor: pointer;
    height: 25vh;

}


.cards p{
text-align: center;
}
.des{
    font-size: 30px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 20px;
    position: absolute;
    top: 0%;

    height: 100%;
    width: 65%;

    display: none;
    cursor: pointer;
}
.thumb:hover .des{
    display: flex;
    align-items: center;
    justify-content: center;
}
.name , .prof , h2{
    margin: 0;
}
.btns{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btns button{
    margin-bottom: 2%;
    width: 80vw;

}
.aboutme , .skills {
    padding-left: 5%;
    padding-right: 5%;
}
